<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{../templates/dashboard/index}"><head>
    <meta charset="UTF-8">
    <title>Blood</title>
</head>
<body>
<div class="content" layout:fragment="content">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/doctor/home}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Bloods</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-sm-4 col-3">
            <h4 class="page-title">Bloods</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-border table-striped custom-table datatable mb-0">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Groupe Sanguin</th>
                        <th>Rhésus</th>
                        <th>Date</th>
                        <th>Hospital</th>
                        <th>Status</th>
                        <!--<th class="text-right">Action</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="blood,i: ${lists}">
                        <input type="hidden" name="id" th:value="${blood.id}"/>
                        <td th:text="${i.count}"></td>
                        <td th:text="${blood.groupeSanguin}"></td>
                        <td th:text="${blood.rhesus}"></td>
                        <td th:text="${blood.date}"></td>
                        <td th:text="${blood.hospital.name}"></td>
                        <td th:if="${blood.getStatus()== true}">
                            <span class="custom-badge status-green">Disponible</span>
                        </td>
                        <td th:unless="${blood.getStatus()== true}">
                            <span class="custom-badge status-red">Non Disponible</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>

