
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{../templates/dashboard/index}">
<head>
    <meta charset="UTF-8">
    <title>New Appointment</title>

</head>
<body>
<div class="content" layout:fragment="content">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h4 class="page-title">Make an appointment</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <form th:action="@{/admin/rdv/add/}+${compte.id}+'/'+${personnelAccount.id}" method="post" th:object="${rdv}">
                <!--<div class="form-group">
                    <label>Patient</label>
                    <input id="patient" type="text" class="form-control" list="patients" th:field="*{compteId}" required autofocus/>
                    <datalist id="patients">
                        <option th:each="patient : ${patients}" th:text="${{patient.username}}" th:value="${{patient.id}}">
                    </datalist>
                    <p th:if="${#fields.hasErrors('compteId')}" th:errors="*{compteId}">Name Error</p>
                </div>
                <div class="form-group">
                    <label>Medecin</label>
                    <input id="medecin" type="text" class="form-control" list="medecins" th:field="*{personnelId}" required autofocus/>
                    <datalist id="medecins">
                        <option th:each="medecin : ${medecins}" th:text="${{medecin.username}}" th:value="${{medecin.id}}">
                    </datalist>
                    <p th:if="${#fields.hasErrors('personnelId')}" th:errors="*{personnelId}">Name Error</p>
                </div>-->
               <!-- <div class="form-group">
                    <label>Patient</label>
                    <select th:field="*{dosMedical}">
                        <option th:each="dosMedical: ${dos}" th:value="${dosMedical}" th:text="${dosMedical.name}" />
                    </select>
                    <td th:if="${#fields.hasErrors('dosMedical')}" th:errors="*{dosMedical}">Type Error</td>
                </div>
                <div class="form-group">
                    <label>Medecin</label>
                    <select th:field="*{personnel}">
                        <option th:each="personnel: ${staffs}" th:value="${personnel}" th:text="${personnel.lastName}" />
                    </select>
                    <td th:if="${#fields.hasErrors('personnel')}" th:errors="*{personnel}">Type Error</td>
                </div>-->
                <div class="form-group">
                    <label>Appointment date</label>
                    <input class="form-control" type="datetime-local" th:field="*{date}" required autofocus>
                    <td th:if="${#fields.hasErrors('date')}" th:errors="*{date}">Type Error</td>
                </div>
                <div class="form-group">
                    <label>Justification</label>
                    <textarea class="form-control" th:field="*{motif}" rows="4"
                              placeholder="Veillez renseigner de quoi vous souffrez" autocomplete="off" id="motif" required autofocus></textarea>
                    <td th:if="${#fields.hasErrors('motif')}" th:errors="*{motif}">Type Error</td>
                </div>
              <!--  <div class="form-group">
                    <label>Statut</label>
                    <select th:field="*{status}" class="form-control" required autofocus>
                        <option value="false">Active</option>
                        <option value="true">Inactive</option>
                    </select>
                    <td th:if="${#fields.hasErrors('status')}" th:errors="*{status}">Type Error</td>
                </div>-->
                <div class="m-t-20 text-center">
                    <a th:href="@{/admin/rdv/account}" class="btn btn-secondary submit-btn">Cancel</a>
                    <button class="btn btn-primary submit-btn" type="submit">Send request</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>tinymce.init({selector:'textarea'});</script>
</body>
</html>