<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{../templates/dashboard/index}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rdv inactifs</title>
</head>
<body>
<div class="content" layout:fragment="content">

    <div class="row">
        <div class="col-12 col-md-6 col-lg-8 col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title d-inline-block">Rdv Inactifs</h4>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead class="d-none">
                            <tr>
                                <!-- <th>Identifiant du patient</th>
                                 <th>Nom du docteur</th>-->
                                <th>Heure</th>
                                <th>Motif</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="rdv : ${appointments}">
                                <!-- <td style="min-width: 200px;" >
                                     <a class="avatar" href="profile.html">B</a>
                                     <h2><a href="profile.html" th:text="${{rdv.getUsername()}}"></a></h2>
                                 </td>
                                 <td>
                                     <h5 class="time-title p-0">rdv avec</h5>
                                     <p th:text="${{rdv.getPersonnel()}}"></p>
                                 </td>-->
                                <td>
                                    <h5 class="time-title p-0">Heure</h5>
                                    <p th:text="${{rdv.getDate()}}"></p>
                                </td>
                                <td>
                                    <h5 class="time-title p-0">Motif</h5>
                                    <p th:text="${{rdv.getMotif()}}"></p>
                                </td>
                                <td th:unless="${rdv.getStatus()}==true">
                                    <span class="custom-badge status-red">inactive</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>