<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Modals</title>
</head>
<body>
<div id="delete_patient" class="modal fade delete-modal" role="dialog" th:fragment="deleteModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div layout:fragment="deleteModalBody"></div>
        </div>
    </div>
</div>
</body>
</html>