<!--
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{../templates/dashboard/index}">
<head>
    <meta charset="UTF-8">
    <title>Add New Simple</title>
</head>
<body>
<div class="content" layout:fragment="content">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h4 class="page-title">Add New Simple</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <form method="post" th:action="@{/admin/staff/create/simple/}+${hospital.id}" enctype="multipart/form-data" th:object="${form}">
                <div th:if="${error}">
                    <div class="alert alert-danger" th:text="${error}"></div>
                </div>
                <div class="form-group">
                    <label th:for="name">First Name <span style="font-size: 11px; font-style: italic">(First name)</span></label>
                    <input class="form-control" type="text" th:field="*{firstName}" required/>
                    <span class="error" th:errors="*{firstName}"></span>
                </div>
                <div class="form-group">
                    <label th:for="name">Last Name <span style="font-size: 11px; font-style: italic">(Last name)</span></label>
                    <input class="form-control" type="text" th:field="*{lastName}" required/>
                    <span class="error" th:errors="*{lastName}"></span>
                </div>
                <div class="form-group">
                    <label th:for="code">Code <span style="font-size: 11px; font-style: italic">(N° CNI)</span></label>
                    <input class="form-control" type="text" th:field="*{code}" required/>
                    <span class="error" th:errors="*{code}"></span>
                </div>
                <div class="form-group">
                    <label th:for="phone">Phone <span style="font-size: 11px; font-style: italic">(Phone number)</span></label>
                    <input class="form-control" type="text" th:field="*{phone}" required/>
                    <span class="error" th:errors="*{phone}"></span>
                </div>
                <div class="form-group">
                    <label th:for="name">Qualificatif <span style="font-size: 11px; font-style: italic">(Qualificatif)</span></label>
                    <input class="form-control" type="text" th:field="*{qualifier}" required/>
                    <span class="error" th:errors="*{qualifier}"></span>
                </div>
                <div class="form-group">
                    <label th:for="city">City <span style="font-size: 11px; font-style: italic">(City)</span></label>
                    <input class="form-control" type="text" th:field="*{city}" required/>
                    <span class="error" th:errors="*{city}"></span>
                </div>
                <div class="form-group">
                    <label th:for="address">Adress <span style="font-size: 11px; font-style: italic">(Adress)</span></label>
                    <input class="form-control" type="text" th:field="*{address}" required/>
                    <span class="error" th:errors="*{address}"></span>
                </div>
                <div class="form-group">
                    <label th:for="email">Email</label>
                    <input class="form-control" type="email" th:field="*{email}" required/>
                    <span class="error" th:errors="*{email}"></span>
                </div>
                <div class="form-group">
                    <label th:for="birthDate">Birth Date</label>
                    <input class="form-control" type="date" th:field="*{birthDate}" required/>
                    <span class="error" th:errors="*{birthDate}"></span>
                </div>
                <div class="form-group">
                    <label th:for="weight">Weight <span style="font-size: 11px; font-style: italic">(kg)</span></label>
                    <input class="form-control" type="text" th:field="*{weight}" />
                    <span class="error" th:errors="*{weight}"></span>
                </div>
                <div class="form-group">
                    <label th:for="height">Height <span style="font-size: 11px; font-style: italic">(cm)</span></label>
                    <input class="form-control" type="number" th:field="*{height}" required/>
                    <span class="error" th:errors="*{height}"></span>
                </div>
                <div class="form-group">
                    <label>Hereditary Disease</label>
                    <input class="form-control" type="text" name="hereditaryDisease">
                </div>
                <div class="form-group">
                    <label th:for="bloodType">Blood Type</label>
                    <select th:field="*{bloodType}" class="form-control">
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="AB">AB</option>
                        <option value="O">O</option>
                    </select>
                    <span class="error" th:errors="*{bloodType}"></span>
                </div>
                <div class="form-group">
                    <label class="display-block">Rhesus</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="rhesus" id="rh+" value="+" checked>
                        <label class="form-check-label" for="rh+">
                            +
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="rhesus" id="rh-" value="-">
                        <label class="form-check-label" for="rh-">
                            -
                        </label>
                    </div>
                    <span class="error" th:errors="*{rhesus}"></span>
                </div>
                <div class="form-group">
                    <label class="display-block">Gender</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="MALE" value="MALE" checked>
                        <label class="form-check-label" for="MALE">
                            MALE
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="FEMALE" value="FEMALE">
                        <label class="form-check-label" for="FEMALE">
                            FEMALE
                        </label>
                    </div>
                    <span class="error" th:errors="*{gender}"></span>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea cols="30" rows="4" class="form-control" name="description" ></textarea>
                </div>
                <div class="form-group">
                    <label>Profile picture</label>
                    <input type="file" name="file" class="form-control-file">
                </div>
                <div class="m-t-20 text-center">
                    <a th:href="@{/admin/staff/lists/simples/}+${hospital.id}" class="btn btn-secondary submit-btn">Annuler</a>

                    <button class="btn btn-primary submit-btn">Create Other staff</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{../templates/dashboard/index}">
<head>
    <meta charset="UTF-8">
    <title>Add New Doctor</title>
</head>
<body>
<div class="content" layout:fragment="content">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h4 class="page-title">Add New Doctor</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <form method="post" th:action="@{/admin/staff/create/doctor/}+${hospital.id}" enctype="multipart/form-data" th:object="${form}">
                <div th:if="${error}">
                    <div class="alert alert-danger" th:text="${error}"></div>
                </div>
                <div class="form-group">
                    <label th:for="name">First Name <span style="font-size: 11px; font-style: italic">(First name)</span></label>
                    <input class="form-control" type="text" th:field="*{firstName}" required/>
                    <span class="error" th:errors="*{firstName}"></span>
                </div>
                <div class="form-group">
                    <label th:for="name">Last Name <span style="font-size: 11px; font-style: italic">(Last name)</span></label>
                    <input class="form-control" type="text" th:field="*{lastName}" required/>
                    <span class="error" th:errors="*{lastName}"></span>
                </div>
                <div class="form-group">
                    <label th:for="code">Code <span style="font-size: 11px; font-style: italic">(N° CNI)</span></label>
                    <input class="form-control" type="text" th:field="*{code}" required/>
                    <span class="error" th:errors="*{code}"></span>
                </div>
                <div class="form-group">
                    <label th:for="phone">Phone <span style="font-size: 11px; font-style: italic">(Phone number)</span></label>
                    <input class="form-control" type="text" th:field="*{phone}" required/>
                    <span class="error" th:errors="*{phone}"></span>
                </div>
                <div class="form-group">
                    <label th:for="city">City <span style="font-size: 11px; font-style: italic">(City)</span></label>
                    <input class="form-control" type="text" th:field="*{city}" required/>
                    <span class="error" th:errors="*{city}"></span>
                </div>
                <div class="form-group">
                    <label th:for="address">Adress <span style="font-size: 11px; font-style: italic">(Adress)</span></label>
                    <input class="form-control" type="text" th:field="*{address}" required/>
                    <span class="error" th:errors="*{address}"></span>
                </div>
                <div class="form-group">
                    <label th:for="email">Email</label>
                    <input class="form-control" type="email" th:field="*{email}" required/>
                    <span class="error" th:errors="*{email}"></span>
                </div>
                <div class="form-group">
                    <label th:for="birthDate">Birth Date</label>
                    <input class="form-control" type="date" th:field="*{birthDate}" required/>
                    <span class="error" th:errors="*{birthDate}"></span>
                </div>
                <div class="form-group">
                    <label th:for="weight">Weight <span style="font-size: 11px; font-style: italic">(kg)</span></label>
                    <input class="form-control" type="text" th:field="*{weight}" />
                    <span class="error" th:errors="*{weight}"></span>
                </div>
                <div class="form-group">
                    <label th:for="height">Height <span style="font-size: 11px; font-style: italic">(cm)</span></label>
                    <input class="form-control" type="number" th:field="*{height}" required/>
                    <span class="error" th:errors="*{height}"></span>
                </div>
                <div class="form-group">
                    <label>Hereditary Disease</label>
                    <input class="form-control" type="text" name="hereditaryDisease">
                </div>
                <div class="form-group">
                    <label th:for="bloodType">Blood Type</label>
                    <select th:field="*{bloodType}" class="form-control">
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="AB">AB</option>
                        <option value="O">O</option>
                    </select>
                    <span class="error" th:errors="*{bloodType}"></span>
                </div>

                <div class="form-group">
                    <label class="display-block">Rhesus</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="rhesus" id="rh+" value="+" checked>
                        <label class="form-check-label" for="rh+">
                            +
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="rhesus" id="rh-" value="-">
                        <label class="form-check-label" for="rh-">
                            -
                        </label>
                    </div>
                    <span class="error" th:errors="*{rhesus}"></span>
                </div>
                <div class="form-group">
                    <label class="display-block">Gender</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="MALE" value="MALE" checked>
                        <label class="form-check-label" for="MALE">
                            MALE
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="FEMALE" value="FEMALE">
                        <label class="form-check-label" for="FEMALE">
                            FEMALE
                        </label>
                    </div>
                    <span class="error" th:errors="*{gender}"></span>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea cols="30" rows="4" class="form-control" name="description" ></textarea>
                </div>
                <div class="form-group">
                    <label>Profile picture</label>
                    <input type="file" name="file" class="form-control-file">
                </div>
                <div class="m-t-20 text-center">
                    <a th:href="@{/admin/staff/lists/doctors/}+${hospital.id}" class="btn btn-secondary submit-btn">Annuler</a>

                    <button class="btn btn-primary submit-btn">Create other staff</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
