<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{../templates/dashboard/index}">
<head>
    <meta charset="UTF-8">
    <title>DashBoard</title>
</head>
<body>
<div class="content" layout:fragment="content">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h4 class="page-title">Add Blood in bank</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <form th:action="@{/admin/blood/create}" method="post" th:object="${blood}">
                <div class="form-group">
                    <input class="form-control" type="hidden" name="idHospital" th:value="${idHospital}">
                </div>
                <div class="form-group">
                    <label>Reference</label>
                    <input class="form-control" type="text" th:field="*{reference}" required autofocus>
                    <td th:if="${#fields.hasErrors('reference')}" th:errors="*{reference}">Reference Error</td>
                </div>
                <div class="form-group">
                    <label>Quantity</label>
                    <input class="form-control" type="number" th:field="*{quantity}" required autofocus>
                    <td th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">Quantity Error</td>
                </div>
                <div class="form-group">
                    <label class="display-block">Etat:</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" th:field="*{status}"  value="option1">
                        <label class="form-check-label">Neuf</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" th:field="*{status}"  value="option2">
                        <label class="form-check-label">Occasion</label>
                    </div>
                </div>

                <div class="m-t-20 text-center">
                    <button class="btn btn-primary submit-btn" type="submit">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>