<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{../templates/dashboard/index}">
<head>
    <meta charset="UTF-8">
    <title>DashBoard</title>
</head>
<body>
<div class="content" layout:fragment="content">
    <div class="row">
        <div class="col-sm-5">
            <h4 class="page-title">RDV</h4>
        </div>
        <div class="col-sm-7 col-7 text-right m-b-30">
            <a th:href="@{/admin/rdv/create}" class="btn btn-primary btn-rounded"><i class="fa fa-plus"></i> RDV List</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <div class="dash-widget">
                <span class="dash-widget-bg1"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                <div class="dash-widget-info text-right" id="active">
                    <h3>Rdv actifs</h3>
                    <span class="widget-title1" >Active<i class="fa fa-check" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <div class="dash-widget">
                <span class="dash-widget-bg4"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                <div class="dash-widget-info text-right" id="inactive">
                    <h3>Rdv inactifs</h3>
                    <span class="widget-title4" >Inactive<i class="fa fa-check" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row" th:if="${message}">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <p th:text="${message}"></p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="row" th:if="${error}">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <p th:text="${error}"></p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="row filter-row">

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped datatable custom-table mb-0">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Patient username</th>
                        <th>Medecin</th>
                        <th>Date</th>
                        <th>Motif</th>
                        <th>Statut</th>
                        <th class="text-right">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="rdv : ${rdvs}">
                        <td th:text="${{rdv.getId()}}"></td>
                        <td th:text="${{rdv.getUsername()}}"></td>
                        <td th:text="${{rdv.getPersonnel()}}"></td>
                        <td th:text="${{rdv.getDate()}}"></td>
                        <td th:text="${{rdv.getMotif()}}"></td>
                        <td>
                            <span class="custom-badge status-green" th:if="${rdv.status == false}">Active</span>
                            <span class="custom-badge status-red" th:if="${rdv.status == true}">Inactive</span>
                        </td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" th:href="@{|/admin/rdv/${rdv.getId()}|}"><i class="fa fa-eye m-r-5"></i> Show</a>

                                    <a class="dropdown-item" th:href="@{|/admin/rdv/edit/${rdv.getId()}|}"><i class="fa fa-pencil m-r-5"></i> Edit</a>

                                    <a class="dropdown-item" href="#" data-toggle="modal" th:data-target="${'#delete_department-'+ {rdv.getId()}}"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div th:id="${'delete_department-'+ {rdv.getId()}}" class="modal fade delete-modal" role="dialog" th:each="rdv : ${rdvs}">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <img src="assets/img/sent.png" alt="" width="50" height="46">
                    <h3>Are you sure want to delete this Department?</h3>
                    <div class="m-t-20"> <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                        <form th:action="@{|/admin/rdv/delete/${rdv.getId()}|}" th:object="${rdv}" method="post">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>