<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{../templates/dashboard/index}"><head>
    <meta charset="UTF-8">
    <title>Incubator</title>
</head>
<body>
<div class="content" layout:fragment="content">
    <div class="row">
        <div class="col-sm-4 col-3">
            <h4 class="page-title">Drugs</h4>
        </div>
        <div class="col-sm-8 col-9 text-right m-b-20">
            <a th:href="@{/admin/medicament/add/}+${pharmacy.id}" class="btn btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Add a Drug</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-border table-striped custom-table datatable mb-0">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Quantity</th>
                        <th>Grammage</th>
                        <th>Drug type</th>
                        <th>Name</th>
                        <th>stock Quantity</th>
                        <th>Prix unitaire</th>
                        <th>Status</th>
                        <th class="text-right">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="drug,i: ${drugs}">
                        <input type="hidden" name="id" th:value="${drug.id}"/>
                        <td th:text="${i.count}"></td>
                        <td th:text="${drug.quantity}"></td>
                        <td th:text="${drug.grammage}"></td>
                        <td th:text="${drug.drugType}"></td>
                        <td th:text="${drug.name}"></td>
                        <td th:text="${drug.stockQuantity}"></td>
                        <td th:text="${drug.pricingUnit}"></td>
                        <td th:if="${incubator.status== true}">
                            <span class="custom-badge status-green">Disponible</span>
                            <a th:href="@{/admin/medicament/active/{id}(id=${drug.id})}"> <i class="fa fa-check-circle"></i></a>
                        </td>
                        <td th:unless="${incubator.status== true}">
                            <span class="custom-badge status-red">Non Disponible</span>
                            <a th:href="@{/admin/medicament/active/{id}(id=${drug.id})}"> <i class="fa fa-check-circle-o"></i></a>
                        </td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-menu-right menu_">
                                    <a class="dropdown-item" th:href="@{/admin/medicament/update/{id}(id = ${drug.id})}"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" href="#" data-toggle="modal" th:attr="data-target='#deleteModal'+${drug.id}"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                            <div class="modal fade" th:id="deleteModal+${drug.id}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalLabel">Suppression d'un medicament </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p class="text-center">Etes vous sure de vouloir supprimer cette element???</p>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                                            <a th:href="@{/admin/medicament/delete/}+${drug.id}" class="btn btn-primary">Oui</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>