<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{../templates/dashboard/index}">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
<div class="content" layout:fragment="content">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/root/home}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Other user update</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h4 class="page-title">Update User</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <form method="post" th:action="@{/root/hospital/other/update/}+${hospital.id}" enctype="multipart/form-data" th:object="${personnel}">
                <div th:if="${error}">
                    <div class="alert alert-danger" th:text="${error}"></div>
                </div>
                <div class="form-group">
                    <label th:for="name">First Name <span style="font-size: 11px; font-style: italic">(First name)</span></label>
                    <input class="form-control" type="text" th:field="*{firstName}" required/>
                    <input class="form-control" type="hidden" th:field="*{id}" required/>
                    <span class="error" th:errors="*{firstName}"></span>
                </div>
                <div class="form-group">
                    <label th:for="name">Last Name <span style="font-size: 11px; font-style: italic">(Last name)</span></label>
                    <input class="form-control" type="text" th:field="*{lastName}" required/>
                    <span class="error" th:errors="*{lastName}"></span>
                </div>

                <div class="form-group">
                    <label th:for="phone">Phone <span style="font-size: 11px; font-style: italic">(Phone number)</span></label>
                    <input class="form-control" type="text" th:field="*{phone}" required/>
                    <span class="error" th:errors="*{phone}"></span>
                </div>
                <div class="form-group">
                    <label th:for="name">Qualificatif <span style="font-size: 11px; font-style: italic">(Qualificatif)</span></label>
                    <input class="form-control" type="text" th:field="*{qualifier}" required/>
                    <span class="error" th:errors="*{qualifier}"></span>
                </div>
                <div class="form-group">
                    <label th:for="city">City <span style="font-size: 11px; font-style: italic">(City)</span></label>
                    <input class="form-control" type="text" th:field="*{city}" required/>
                    <span class="error" th:errors="*{city}"></span>
                </div>
                <div class="form-group">
                    <label th:for="neigborhood">Neigborhood <span style="font-size: 11px; font-style: italic">(Neigborhood)</span></label>
                    <input class="form-control" type="text" th:field="*{neighborhood}" required/>
                    <span class="error" th:errors="*{neighborhood}"></span>
                </div>
                <div class="form-group">
                    <label th:for="address">Adress <span style="font-size: 11px; font-style: italic">(Adress)</span></label>
                    <input class="form-control" type="text" th:field="*{address}" required/>
                    <span class="error" th:errors="*{address}"></span>
                </div>
                <div class="form-group">
                    <label th:for="email">Email</label>
                    <input class="form-control" type="email" th:field="*{email}" required/>
                    <span class="error" th:errors="*{email}"></span>
                </div>
                <div class="form-group">
                    <label th:for="birthDate">Birth Date</label>
                    <input class="form-control" type="date" th:field="*{birthDate}" required/>
                    <span class="error" th:errors="*{birthDate}"></span>
                </div>

                <div class="form-group">
                    <label>Gender</label>
                    <select th:field="*{gender}" class="form-control">
                        <th:block th:each="g: ${T(com.hospital.enums.EGender).values()}">
                            <option  th:value="${g}" th:text="${g}"></option>
                        </th:block>
                    </select>
                    <td th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">Type Error</td>
                </div>
                <div class="form-group">
                    <label>Profile picture</label>
                    <input type="file" name="file" class="form-control-file">
                    <input type="text" th:field="*{avatar}" style="display: none">
                </div>
                <div class="m-t-20 text-center">
                    <a th:href="@{/root/hospital/other/detail/}+${personnel.id}" class="btn btn-secondary submit-btn">Annuler</a>

                    <button type="submit" class="btn btn-primary submit-btn">Save User</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>