<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{../templates/dashboard/index}"><head>
    <meta charset="UTF-8">
    <title>Incubator</title>
</head>
<body>
<div class="content" layout:fragment="content">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/doctor/home}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Incubators</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-sm-4 col-3">
            <h4 class="page-title">Incubators</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-border table-striped custom-table datatable mb-0">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Type</th>
                        <th>Serial number</th>
                        <th>Date Of Obtention</th>
                        <th>Etat couveuse</th>
                        <th>Hospital</th>
                        <th>Status</th>
                        <!--<th class="text-right">Action</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="incubator,i: ${lists}">
                        <input type="hidden" name="id" th:value="${incubator.id}"/>
                        <td th:text="${i.count}"></td>
                        <td th:text="${incubator.type}"></td>
                        <td th:text="${incubator.number}"></td>
                        <td th:text="${incubator.dateObtained}"></td>
                        <td th:text="${incubator.status}"></td>
                        <td th:text="${incubator.hospital.name}"></td>
                        <td th:if="${incubator.state== true}">
                            <span class="custom-badge status-green">Disponible</span>
                            <a th:href="@{/admin/incubator/active/{id}(id=${incubator.id})}"> <i class="fa fa-check-circle"></i></a>
                        </td>
                        <td th:unless="${incubator.state== true}">
                            <span class="custom-badge status-red">Non Disponible</span>
                            <a th:href="@{/admin/incubator/active/{id}(id=${incubator.id})}"> <i class="fa fa-check-circle-o"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>