<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{../templates/dashboard/index}">


<!-- chat23:28-->
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
</head>

<body>
<div class="content" layout:fragment="content">
    <div class="row">
        <div class="col-sm-4 col-3">
            <h4 class="page-title">Chats lists</h4>
        </div>
        <div class="col-sm-8 col-9 text-right m-b-20">
            <button type="button" class="btn btn-primary btn-rounded" data-toggle="modal" data-target="#new_discution" ><i class="fa fa-plus"></i>New Discution</button>
        </div>
    </div>
    <div class="col-xl-12 col-md-12 col-sm-12">
        <ul th:each="item : ${lists}">
            <li>
                <a th:href="@{/admin/conversation/detail/}+${item.receiver}"><span class="chat-avatar-sm user-img"><img th:src="@{/assets/img/user.jpg}" alt="" class="rounded-circle"></span> <span th:if="${compte.username} == ${item.sender}" th:text="${item.receiver}"></span><span th:unless="${compte.username} == ${item.sender}" th:text="${item.sender}"></span><span class="badge badge-pill bg-danger float-right">1</span></a>
            </li>
            <hr>
        </ul>
    </div>
    <div class="modal  fade" id="new_discution" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <ul th:each="item : ${comptes}">
                        <li>
                            <a th:href="@{/admin/conversation/detail/}+${item.username}" ><span class="chat-avatar-sm user-img"><img th:src="${item.avatar}" alt="" class="rounded-circle"></span><span th:text="${item.personnel.firstName+' '+item.personnel.lastName}"></span></a>
                        </li>
                        <hr>
                    </ul>
                    <hr>
                </div>
            </div>
        </div>
    </div>

</div>
</body>


<!-- chat23:29-->
</html>