<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{../templates/dashboard/index}">
<head>
    <meta charset="UTF-8">
    <title>Examens</title>
</head>
<body>
<div class="content" layout:fragment="content">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/doctor/home}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Examens</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-sm-4 col-3">
            <h4 class="page-title">Examens</h4>
        </div>
    </div>
    <div th:if="${success}">
        <div class="alert alert-success" th:text="${success}"></div>
    </div>
    <div th:if="${error}">
        <div class="alert alert-danger" th:text="${error}"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-border table-striped custom-table datatable mb-0">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Test Type</th>
                        <th>Date Of Testing</th>
                        <th>Deliver Date</th>
                        <th>Results</th>
                        <th>Observations</th>
                        <th>Hospital</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="examen,i: ${lists}">
                        <input type="hidden" name="id" th:value="${examen.id}"/>
                        <td th:text="${i.count}"></td>
                        <td th:text="${examen.name}"></td>
                        <td th:text="${examen.testType}"></td>
                        <td th:text="${examen.dateOfTesting}"></td>
                        <td th:text="${examen.deliverDate}"></td>
                        <td >
                            <span th:if="${examen.results} != null" th:text="${examen.results}"></span>
                            <span th:unless="${examen.results} != null">Non disponible</span>
                        </td>
                        <td >
                            <span th:if="${examen.description} != null" th:text="${examen.description}"></span>
                            <span th:unless="${examen.description} != null">Non disponible</span>
                        </td>
                        <td th:text="${examen.hospital.name}"></td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                            <div class="dropdown-menu dropdown-menu-right menu_">
                                <a class="dropdown-item" th:href="@{'/doctor/hospital/examen/detail/'+${examen.id}}"><i class="fa fa-eye m-r-5"></i> Show</a>
                            </div>
                        </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>