<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hospital-care</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/img/favicon.ico}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href ="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href ="@{/assets/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href ="@{/assets/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/select2.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/tagsinput.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/fullcalendar.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/dataTables.bootstrap4.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap-datetimepicker.min.css}">
    <!--[if lt IE 9]>
    <script th:src="@{/assets/js/html5shiv.min.js}"></script>
    <script th:src="@{/assets/js/respond.min.js}"></script>
    <![endif]-->
</head>

<body>

<div class="main-wrapper">
    <div class="header" th:replace="~{../templates/dashboard/fragments/navbar :: topbar}"></div>
    <div class="sidebar" id="sidebar" th:replace="~{../templates/dashboard/fragments/navbar :: #sidebar}"></div>
    <div class="page-wrapper">
        <div class="content" layout:fragment="content"></div>
        <div class="notification-box" th:replace="~{../templates/dashboard/fragments/notifications :: notifications}"></div>
    </div>
    <div id="delete_patient" class="modal fade delete-modal" role="dialog" th:replace = "~{../templates/dashboard/fragments/modals :: deleteModal}"></div>
</div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script th:src="@{/assets/js/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/assets/js/popper.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/js/jquery.slimscroll.js}"></script>
    <script th:src="@{/assets/js/select2.min.js}"></script>
    <script th:src="@{/assets/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/assets/js/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/assets/js/moment.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap-datetimepicker.min.js}"></script>
    <script th:src="@{/assets/js/app.js}"></script>
    <script th:src="@{/assets/js/Chart.bundle.js}"></script>
    <script th:src="@{/assets/js/chart.js}"></script>
    <script th:src="@{/assets/js/fullcalendar.min.js}"></script>
    <script th:src="@{/assets/js/tagsinput.js}"></script>


</body>



</html>