<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{../templates/dashboard/index}">
<head>
    <meta charset="UTF-8">
    <title>Consultations</title>
</head>
<body>
<div class="content" layout:fragment="content">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/doctor/patient/consultation/lists/}+${dosMedical.id}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Medical Records</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-sm-4 col-3">
            <h4 class="page-title">Consultations</h4>
        </div>
    </div>
    <div th:if="${success}">
        <div class="alert alert-success" th:text="${success}"></div>
    </div>
    <div th:if="${error}">
        <div class="alert alert-danger" th:text="${error}"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-border table-striped custom-table datatable mb-0">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>date</th>
                        <th>height</th>
                        <th>weight</th>
                        <th>pressure</th>
                        <th>temperature</th>
                        <th>age</th>
                        <th>sex</th>
                        <th>Doctor's Name</th>
                        <th>Doctor's Phone</th>
                        <!--<th>Hospital</th>-->
                        <th class="text-right">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="consultation,i: ${lists}">
                        <input type="hidden" name="id" th:value="${consultation.id}"/>
                        <td th:text="${i.count}"></td>
                        <td th:text="${consultation.date}"></td>
                        <td th:text="${consultation.height}"></td>
                        <td th:text="${consultation.weight}"></td>
                        <td th:text="${consultation.pressure}"></td>
                        <td th:text="${consultation.temperature}"></td>
                        <td th:text="${consultation.age}"></td>
                        <td th:text="${consultation.sex}"></td>
                        <td th:text="${consultation.personnel.lastName+' '+consultation.personnel.firstName}"></td>
                        <td th:text="${consultation.personnel.phone}"></td>
                        <!--<td th:text="${consultation.hospital.name}"></td>-->
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-menu-right menu_">
                                    <a class="dropdown-item" th:href="@{'/doctor/patient/examen/lists/'+${dosMedical.id}}" th:text="@{'View Exams ('+${lists.size()}+')'}"><i class="fa fa-eye m-r-5"></i></a>
                                    <a class="dropdown-item" th:href="@{'/doctor/patient/ordonances/lists/'+${dosMedical.id}}" th:text="@{'View Prescriptions ('+${lists.size()}+')'}"><i class="fa fa-eye m-r-5"></i></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>