<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{../templates/dashboard/index}">
<head>
    <meta charset="UTF-8">
    <title>Update a Prescription</title>
</head>
<body>
<div class="content" layout:fragment="content">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/doctor/home}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Update a Prescription</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h4 class="page-title">Update a Prescription</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <form method="post" th:action="@{/doctor/consultation/prescription/update/}+${prescription.id}" th:object="${prescription}">
                <input class="form-control" type="hidden" name="idConsultation" th:value="${idConsultation}">
                <div class="form-group">
                    <label th:for="name">Medicament name</label>
                    <input class="form-control " type="text" th:field="*{name}" required/>
                    <span class="error" th:errors="*{name}"></span>
                </div>
                <div class="form-group">
                    <label th:for="dosage">Dosage</label>
                    <textarea  rows="4" class="form-control" th:field="*{dosage}"></textarea>
                </div>
                <div class="m-t-20 text-center">
                    <a th:href="@{/doctor/consultation/prescription/lists/}+${idConsultation}" class="btn btn-secondary submit-btn">Annuler</a>
                    <button type="submit" class="btn btn-primary submit-btn">Create Prescription</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>