<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{../templates/dashboard/index}">
<head>
    <meta charset="UTF-8">
    <title>Root hospital lists</title>
</head>
<body>
<div class="content" layout:fragment="content">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/root/home}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Hospitals</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-sm-5">
            <h4 class="page-title">Hospitals lists</h4>
        </div>
    </div>

    <div class="row" th:if="${message}">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <p th:text="${message}"></p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="row" th:if="${error}">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <p th:text="${error}"></p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <div class="row filter-row">
        <div class="col-sm-12 col-12 text-right m-b-20">
            <a th:href="@{/root/hospital/add}" class="btn btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Add Hospital</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped datatable custom-table mb-0">
                    <thead>
                    <tr>
                        <th>Hospital name</th>
                        <th>City</th>
                        <th>Spécialités</th>
                        <th class="text-right">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="hospital : ${lists}">
                        <td th:text="${hospital.name}"></td>
                        <td th:text="${hospital.city}"></td>
                        <td> <ul th:each="item : ${hospital.types}">
                            <li><span th:text="${item}"></span></li>
                        </ul></td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-menu-right menu_">
                                    <a class="dropdown-item" th:href="@{'/root/hospital/detail/'+${hospital.id}}"><i class="fa fa-eye m-r-5"></i> Show</a>
                                    <!--<a class="dropdown-item" th:href="@{'/admin/incubator/hospital/'+${hospital.id}}" th:text="@{'View Incubators ('+${hospital.incubators.size()}+')'}"><i class="fa fa-pencil m-r-5"></i></a>
                                    <a class="dropdown-item" th:href="@{'/admin/get/blood/hospital/'+${hospital.id}}" th:text="@{'View Bloods ('+${hospital.bloods.size()}+')'}"><i class="fa fa-pencil m-r-5"></i></a>-->
                                    <a class="dropdown-item" th:href="@{'/root/hospital/update/'+${hospital.id}}"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <!--<a class="dropdown-item" href="#" data-toggle="modal" th:attr="data-target='#deleteModal'+${hospital.id}"><i class="fa fa-trash-o m-r-5"></i> Delete</a>-->
                                    <a class="dropdown-item" href="#" data-toggle="modal" id="delete-modal" th:attr="data-target='#delete-modal'+${hospital.id}"   ><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                        <div th:id="delete-modal+${hospital.id}" class="modal fade delete-modal" role="dialog" >
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <form  th:action="@{/root/hospital/delete/}+${hospital.id}" method="get">
                                        <div class="modal-body text-center">
                                            <img th:src="@{/assets/img/sent.png}" alt="" width="50" height="46">
                                            <div class="form-group">
                                                <label><b>Enter a doctor code</b></label>
                                                <input class="form-control" type="password" name="username" required/>
                                            </div>
                                            <h3>Are you sure want to delete this Hospital?</h3>
                                            <div class="m-t-20">
                                                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                                <button type="submit" id="submit-delete" class="btn btn-danger" >Delete</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
</div>
</body>
</html>