
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{../templates/dashboard/index}">
<head>
    <meta charset="UTF-8">
    <title>Update Hospital</title>
</head>
<body>
<div class="content" layout:fragment="content">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/root/home}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">hospital update</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h4 class="page-title">Update Hospital</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <form th:action="@{/root/hospital/update}" method="post" th:object="${hospital}">
                <div class="form-group">
                    <label>Hospital Name</label>
                    <input class="form-control" type="text" th:field="*{name}" required autofocus>
                    <input class="form-control" type="hidden" th:field="*{id}" >
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
                </div>
                <div class="form-group">
                    <label>Hospital Adress</label>
                    <input class="form-control" type="text" th:field="*{addresse}" required autofocus>
                    <p th:if="${#fields.hasErrors('addresse')}" th:errors="*{addresse}">Addresse Error</p>
                </div>
                <div class="form-group">
                    <label>Hospital email</label>
                    <input class="form-control" type="email" th:field="*{email}" required autofocus>
                    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email Error</p>
                </div>
                <div class="form-group">
                    <label>Hospital Web Site</label>
                    <input class="form-control" type="text" th:field="*{siteInternet}" required autofocus>
                    <p th:if="${#fields.hasErrors('siteInternet')}" th:errors="*{siteInternet}">Web Site Error</p>
                </div>
                <div class="form-group">
                    <label>Hospital Phone</label>
                    <input class="form-control" type="tel" th:field="*{telephone}" required autofocus>
                    <p th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}">Telephone Error</p>
                </div>
                <div class="form-group">
                    <label>Category</label>
                    <select th:field="*{category}" class="form-control">
                        <th:block th:each="p: ${T(com.hospital.enums.ECategoryHospital).values()}">
                            <option  th:value="${p}" th:text="${p}"></option>
                        </th:block>
                    </select>
                    <td th:if="${#fields.hasErrors('category')}" th:errors="*{category}">Category Error</td>
                </div>
                <div class="form-group">
                    <label>City</label>
                    <input class="form-control" type="text" th:field="*{city}" required autofocus>
                    <td th:if="${#fields.hasErrors('city')}" th:errors="*{city}">City Error</td>
                </div>
                <div class="form-group">
                    <label>Neighborhood</label>
                    <input class="form-control" type="text" th:field="*{neighborhood}" required autofocus>
                    <td th:if="${#fields.hasErrors('neighborhood')}" th:errors="*{neighborhood}">neighborhood Error</td>
                </div>
                <div class="form-group">
                    <label>Country</label>
                    <select th:field="*{pays}" class="form-control">
                        <th:block th:each="p: ${T(com.hospital.enums.EPaysHospital).values()}">
                            <option  th:value="${p}" th:text="${p}"></option>
                        </th:block>
                    </select>
                </div>
                <div class="form-group">
                    <label>Province</label>
                    <select th:field="*{province}" class="form-control">
                        <th:block th:each="p: ${T(com.hospital.enums.EProvincesHospital).values()}">
                            <option  th:value="${p}" th:text="${p}"></option>
                        </th:block>
                    </select>
                </div>
                <div class="form-group">
                    <label>Spécialités</label>
                    <select th:field="*{types}" class="form-control" multiple size="10">
                        <th:block th:each="item: ${T(com.hospital.enums.ETypeHospital).values()}">
                            <option  th:value="${item}" th:text="${item}"></option>
                        </th:block>
                    </select>
                </div>
                <div class="m-t-20 text-center">
                    <a th:href="@{/root/hospital/lists}" class="btn btn-secondary submit-btn">Annuler</a>
                    <button class="btn btn-primary submit-btn" type="submit">Save Hospital</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>

