
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{../templates/dashboard/index}">
<head>
    <meta charset="UTF-8">
    <title>New Appointment</title>

</head>
<body>
<div class="content" layout:fragment="content">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h4 class="page-title">Make an appointment</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <form th:action="@{/root/rdv/add/}+${hospital.id}" method="post" th:object="${rdv}">
                <div class="form-group">
                    <label>Appointment date</label>
                    <input class="form-control" type="datetime-local" th:field="*{date}" required autofocus>
                    <td th:if="${#fields.hasErrors('date')}" th:errors="*{date}">Type Error</td>
                </div>
                <div class="form-group">
                    <label>Justification</label>
                    <textarea class="form-control" th:field="*{motif}" rows="4"
                              placeholder="Veillez renseigner de quoi vous souffrez" autocomplete="off" id="motif" required autofocus></textarea>
                    <td th:if="${#fields.hasErrors('motif')}" th:errors="*{motif}">Type Error</td>
                </div>
                <div class="m-t-20 text-center">
                    <a th:href="@{/root/rdv/account}" class="btn btn-secondary submit-btn">Cancel</a>
                    <button class="btn btn-primary submit-btn" type="submit">Send request</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>tinymce.init({selector:'textarea'});</script>
</body>
</html>