<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{../templates/dashboard/index}">
<head>
    <meta charset="UTF-8">
    <title>Add an Examen</title>
</head>
<body>
<div class="content" layout:fragment="content">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/doctor/home}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Examen form</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h4 class="page-title">Add Examen</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <form method="post" action="/admin/exam/create" th:object="${examenHelper}">
                <input class="form-control" type="hidden" name="idConsultation" th:value="${idConsultation}">
                <div class="form-group">
                    <label>Name</label>
                    <select name="name" class="form-control">
                        <option value="A" test-type="A-Test">A</option>
                        <option value="B" test-type="B-Test">B</option>
                        <option value="C" test-type="C-Test">C</option>
                        <option value="D" test-type="D-Test">D</option>
                    </select>
                </div>
                <div class="form-group">
                    <label th:for="testType">Test Type</label>
                    <input class="form-control" type="text" th:field="*{testType}" required/>
                    <span class="error" th:errors="*{testType}"></span>
                </div>
                <div class="form-group">
                    <label th:for="dateOfTesting">Date Of Testing</label>
                    <input class="form-control date" type="date" th:field="*{dateOfTesting}" required/>
                    <span class="error" th:errors="*{dateOfTesting}"></span>
                </div>
                <div class="form-group">
                    <label>Deliver Date</label>
                    <input class="form-control" type="date" th:field="*{deliverDate}" />
                </div>
                <div class="form-group">
                    <label>Deliver Hour</label>
                    <input class="form-control" type="time" th:field="*{time}" />
                </div>

                <div class="m-t-20 text-center">
                    <a th:href="@{/doctor/consultation/examen/lists/}+${idConsultation}"class="btn btn-secondary submit-btn">Annuler</a>
                    <button type="submit" class="btn btn-primary submit-btn">Create Exam</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>