<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{../templates/dashboard/index}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accounts</title>
</head>
<body>
<div class="content" layout:fragment="content">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/root/home}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Accounts</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-sm-4 col-3">
            <h4 class="page-title">Accounts</h4>
        </div>
    </div>
    <div th:if="${success}">
        <div class="alert alert-success" th:text="${success}"></div>
    </div>
    <div th:if="${error}">
        <div class="alert alert-danger" th:text="${error}"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped datatable custom-table mb-0">
                    <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="compte : ${lists}">
                        <td style="min-width: 200px;" >
                            <p th:text="${compte.username}"></p>
                        </td>
                        <td>
                            <p th:text="${compte.email}"></p>
                        </td>
                        <td>
                            <p th:text="${compte.name}"></p>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>